astor==0.8.1
certifi==2020.12.5
chardet==4.0.0
cycler==0.10.0
decorator==4.4.2
filesplit==3.0.2
gast==0.3.3
idna==2.10
imageio==2.9.0
imgaug==0.4.0
kiwisolver==1.3.1
lmdb==1.1.1
matplotlib==3.4.1
networkx==2.5.1
numpy==1.19.0
opencv-python==4.5.1.48
Pillow==8.2.0
protobuf==3.15.8
pyclipper==1.2.1
pyparsing==2.4.7
PySimpleGUI==4.38.0
python-dateutil==2.8.1
python-Levenshtein-wheels==0.13.2
PyWavelets==1.1.1
requests==2.25.1
scikit-image==0.18.1
scipy==1.6.2
six==1.15.0
tifffile==2021.4.8
urllib3==1.26.4
pysrt
opencc-python-reimplemented
wordsegment