bleach==1.5.0
certifi==2020.6.20
chardet==3.0.4
cnocr==1.2.2
cycler==0.10.0
Cython==0.29.21
enum34==1.1.10
fuzzywuzzy==0.18.0
gluoncv==0.6.0
graphviz==0.8.4
html5lib==0.9999999
idna==2.10
kiwisolver==1.2.0
Markdown==3.2.2
matplotlib==3.3.2
mxnet==1.6.0
numpy==1.19.2
opencv-python==4.4.0.44
Pillow==7.2.0
portalocker==2.0.0
protobuf==3.13.0
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.24.0
scipy==1.5.2
six==1.15.0
tensorflow @ https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.4.0-py3-none-any.whl
tensorflow-tensorboard==0.4.0
tqdm==4.50.0
UNKNOWN==0.0.0
urllib3==1.25.10
Werkzeug==1.0.1
